<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('选择要维护的产品类型')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-CodeDetailInfo-edit" th:object="${storeIo}">
        <input name="taskcode" id="taskcode" class="form-control" th:field="*{taskcode}" type="hidden">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">
    var prefix = ctx + "warehouse/storeio";
    $("#form-CodeDetailInfo-edit").validate({
        focusCleanup: true,
        rules:{
            // taskCode:{
            //     required:true
            // }
        }
    });
    var modelDatas = [[${@dict.getType("base_product_model")}]];
    $(function() {
        var demo = '[[${storeIo}]]';var IO = [[${IO}]];
        console.log(IO)
        var options = {
            url:ctx+"warehouse/storeIoSon/list",
            modalName: "产品类型",
            queryParams: function(params) {
                return{
                    // 传递参数查询参数
                    // pageSize:       params.limit,
                    // pageNum:        params.offset / params.limit + 1,
                    // searchValue:    params.search,
                    // orderByColumn:  params.sort,
                    // isAsc:          params.order,
                    taskcode:$('#taskcode').val()
                };
            },
            showSearch: false,
            showRefresh: false,
            showColumns: false,
            showToggle: false,
            showExport: false,
            uniqueId:"taskcode",
            columns: [
                // {
                //     checkbox: true
                // },
                {
                    field : 'num',
                    title : '序号',
                    formatter:function (value, row, index) {
                        row.num=index+1;
                        return index+1;
                    }
                },
                {
                    field : 'taskcode',
                    title : '任务号'
                },
                {
                    field : 'id',
                    title : 'id',
                    visible:false
                },
                {
                    field : 'rowid',
                    title : 'rowid',
                    visible:false,
                    formatter:function (value, row, index) {
                        row.rowid=index+1;
                        return row.rowid;
                    },
                },
                {
                    field : 'productcode',
                    title : '产品编码'
                },
                {
                    field : 'productname',
                    title : '产品名称'
                },
                {
                    field : 'productbatch',
                    title : '产品批次'
                },
                {
                    field : 'productmodel',
                    title : '产品型号',
                    formatter : function (value, row, index) {
                        return $.table.selectDictLabel(modelDatas, value)
                    }
                },
                // {
                //     field : 'guid',
                //     title : '产品条码',
                //     visible:false
                // },
                // {
                //     field : 'otherProductCode',
                //     title : '产品条码',
                // },
                {
                    field : 'quantity',
                    title : '数量'
                },
                // {
                //     field : 'memo',
                //     title : '备注'
                // },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        if(IO=='In'){
                            actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="openKW_In(\''+row.productcode+','+row.quantity+','+row.rowid+','+row.taskcode+'\')">选择入库位</a>');
                        }else if(IO=='Out'){
                            actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="openKW_Out(\''+row.productcode+','+row.quantity+','+row.rowid+','+row.taskcode+'\')">选择库位</a>');
                        }

                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    })
    function openKW_Out(val){
        var valArr = val.split(',')
        console.log(valArr)
        $.modal.open("指定库位",prefix+"/selectKW_Out/"+valArr[0]+'/'+valArr[1]+'/'+valArr[2]+'/'+valArr[3]);
    }
    function openKW_In(val){
        var valArr = val.split(',')
        $.modal.open("指定库位",prefix+"/selectKW_In/"+valArr[0]+'/'+valArr[1]+'/'+valArr[2]+'/'+valArr[3],1300);
    }
    function submitHandler() {
        console.log('条码明细提交')
        $.modal.close();
        // if ($.validate.form()) {
        //     var rows=$('#bootstrap-table').bootstrapTable("getData");
        //     if (rows.length==0){
        //         $.modal.msgError("请添加产品");
        //         return ;
        //     }
        //     var detailArray=new Array();
        //     for (var i=0;i<rows.length;i++){
        //         if ($.common.isEmpty(rows[i].quantity) || !$.common.isNum(rows[i].quantity)|| rows[i].quantity<=0){
        //             $.modal.msgError("第"+rows[i].num+"行，产品数量不正确");
        //             return ;
        //         }
        //         var param={
        //             rowid:rows[i].num,
        //             productcode:rows[i].productcode,
        //             productname :rows[i].productname,
        //             productmodel :rows[i].productmodel,
        //             guid :rows[i].guid,
        //             quantity :rows[i].quantity,
        //             otherProductCode :rows[i].otherProductCode,
        //             memo:rows[i].memo,
        //         }
        //         detailArray.push(param);
        //     }
        //     var params={
        //         tasktype:$('#tasktype').find('option:selected').val(),
        //         whcode :$('#whcode').find('option:selected').val(),
        //         taskname :$('#taskname').val(),
        //         productdetail :$('#productdetail').val(),
        //         veninfo :$('#veninfo').val(),
        //         maker :$('#maker').val(),
        //         mpocode :$('#mpocode').val(),
        //         ordercode:$('#ordercode').val(),
        //         quantity :$('#quantity').val(),
        //         memo:$('#memo').val(),
        //         list:JSON.stringify(detailArray)
        //     }
        //     $.operate.save(prefix + "/add",params);
        // }
    }

</script>
</body>
</html>