<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('堆垛机任务列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>任务号：</p>
                                <input type="text" id="taskcode" name="taskcode" onkeydown="keydown()"/>
                            </li>
                            <li>
                                <p>任务名称：</p>
                                <input type="text" id="taskname" name="taskname" onkeydown="keydown()"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="searchTable()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="resetTable()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <!--<div class="col-sm-12 select-table table-striped">-->
                <!--<p style="font-size: 20px;font-weight: bold;margin-top: 20px;margin-bottom: -5px;">RGV任务信息</p>-->
                <!--<table id="bootstrap-table"></table>-->
            <!--</div>-->
            <div class="col-sm-12 select-table table-striped">
                <p style="font-size: 20px;font-weight: bold;margin-top: 20px;margin-bottom: -5px;">堆垛机任务信息</p>
                <table id="bootstrap-table2"></table>
            </div>
            <!--<div class="col-sm-12 select-table table-striped">-->
                <!--<p style="font-size: 20px;font-weight: bold;margin-top: 20px;margin-bottom: -5px;">扫码任务信息</p>-->
                <!--<table id="bootstrap-table3"></table>-->
            <!--</div>-->
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var typeDatas = [[${@dict.getType('warehouse_task_type')}]];
        var statusDatas = [[${@dict.getType('warehouse_task_status')}]];
        var prefix = ctx + "infoQuery/queryStockRealtime";

        $(function() {
            // var options = {
            //     url: prefix + "/rgvList",
            //     modalName: "RGV任务",
            //     showSearch: false,
            //     showRefresh: false,
            //     showColumns: false,
            //     showToggle: false,
            //     columns: [
            //     {
            //         field : 'id',
            //         title : 'id',
            //         visible:false
            //     },
            //     {
            //         field : '',
            //         title : '序号',
            //         formatter:function (value, row, index) {
            //             return index + 1;
            //         }
            //     },
            //     {
            //         field : 'tasktype',
            //         title : '任务类型',
            //         formatter: function (value, row, index) {
            //             return $.table.selectDictLabel(typeDatas, value);
            //         }
            //     },
            //     {
            //         field : 'taskcode',
            //         title : '任务号'
            //     },
            //     {
            //         field : 'taskname',
            //         title : '任务名称'
            //     },
            //     {
            //         field : 'sern',
            //         title : '产品条码'
            //     },
            //     {
            //         field : 'traycode',
            //         title : '托盘号'
            //     },
            //     {
            //         field : 'deviceno',
            //         title : '堆垛机小车号'
            //     },
            //     {
            //         field : 'startpoint',
            //         title : '起始点'
            //     },
            //     {
            //         field : 'endpoint',
            //         title : '终点'
            //     },
            //     {
            //         field : 'taskstate',
            //         title : '任务状态',
            //         formatter: function (value, row, index) {
            //             return $.table.selectDictLabel(statusDatas, value);
            //         }
            //     },
            //     {
            //         field : 'modifydate',
            //         title : '修改时间'
            //     }]
            // };
            // $.table.init(options);

            $('#bootstrap-table2').bootstrapTable({
                modalName: "堆垛机任务信息",
                url: prefix + "/stackerList",
                contentType: "application/x-www-form-urlencoded",   // 编码类型
                method: 'post',                                     // 请求方式（*）
                cache: false,                                       // 是否使用缓存
                striped: true,                                  // 是否显示行间隔色
                sortable: true,                                     // 是否启用排序
                sortStable: true,                                   // 设置为 true 将获得稳定的排序
                sortName: "",                                // 排序列名称
                sortOrder: "asc",                              // 排序方式  asc 或者 desc
                pagination: true,   // 是否显示分页（*）
                pageNumber: 1,                                      // 初始化加载第一页，默认第一页
                pageSize: 10,                                       // 每页的记录行数（*）
                pageList: [10, 25, 50],                             // 可供选择的每页的行数（*）
                iconSize: 'outline',                                // 图标大小：undefined默认的按钮尺寸 xs超小按钮sm小按钮lg大按钮
                toolbar: '#toolbar',                                // 指定工作栏
                sidePagination: "server",                           // 启用服务端分页
//                 search: $.common.visible(options.search),           // 是否显示搜索框功能
                search: false,          							// 是否显示搜索框功能
//                 showSearch: $.common.visible(options.showSearch),   // 是否显示检索信息
                showSearch: false,   								// 是否显示检索信息
                showRefresh: false, // 是否显示刷新按钮
                showColumns: false, // 是否显示隐藏某列下拉框
                showToggle: false,   // 是否显示详细视图和列表视图的切换按钮
                showExport: false,   // 是否支持导出文件
                queryParams: function (params) {
                    return {
                        // 传递参数查询参数
                        pageSize: params.limit,
                        pageNum: params.offset / params.limit + 1,
                        searchValue: params.search,
                        orderByColumn: params.sort,
                        isAsc: params.order,
                        taskcode: $("#taskcode").val(),
                        taskname:$('#taskname').val()
                    };
                },                       // 传递参数（*）
                columns: [
                    /*{
                        checkbox: true
                    },*/
                    {
                        field: 'id',
                        title: 'id',
                        align: 'center',
                        visible: false
                    },
                    {
                        field: '',
                        title: '序号',
                        formatter: function (value, row, index) {
                            return index + 1;
                        }
                    },
                    {
                        field : 'tasktype',
                        title : '任务类型',
                        formatter: function (value, row, index) {
                            return $.table.selectDictLabel(typeDatas, value);
                        }
                    },
                    {
                        field : 'taskcode',
                        title : '任务号'
                    },
                    {
                        field : 'taskname',
                        title : '任务名称'
                    },
                    {
                        field : 'sern',
                        title : '产品条码'
                    },
                    {
                        field : 'traycode',
                        title : '托盘号'
                    },
                    {
                        field : 'deviceno',
                        title : '堆垛机小车号'
                    },
                    {
                        field : 'startpoint',
                        title : '起始点'
                    },
                    {
                        field : 'endpoint',
                        title : '终点'
                    },
                    {
                        field : 'taskstate',
                        title : '任务状态',
                        formatter: function (value, row, index) {
                            return $.table.selectDictLabel(statusDatas, value);
                        }
                    },
                    {
                        field : 'modifydate',
                        title : '修改时间'
                    }
                ],
//                responseHandler: $.table.responseHandler            // 回调函数
            });

//             $('#bootstrap-table3').bootstrapTable({
//                 modalName: "扫码任务信息",
//                 url: prefix + "/mainList",
//                 contentType: "application/x-www-form-urlencoded",   // 编码类型
//                 method: 'post',                                     // 请求方式（*）
//                 cache: false,                                       // 是否使用缓存
//                 striped: true,                                  // 是否显示行间隔色
//                 sortable: true,                                     // 是否启用排序
//                 sortStable: true,                                   // 设置为 true 将获得稳定的排序
//                 sortName: "",                                // 排序列名称
//                 sortOrder: "asc",                              // 排序方式  asc 或者 desc
//                 pagination: true,   // 是否显示分页（*）
//                 pageNumber: 1,                                      // 初始化加载第一页，默认第一页
//                 pageSize: 10,                                       // 每页的记录行数（*）
//                 pageList: [10, 25, 50],                             // 可供选择的每页的行数（*）
//                 iconSize: 'outline',                                // 图标大小：undefined默认的按钮尺寸 xs超小按钮sm小按钮lg大按钮
//                 toolbar: '#toolbar',                                // 指定工作栏
//                 sidePagination: "server",                           // 启用服务端分页
// //                search: $.common.visible(options.search),           // 是否显示搜索框功能
//                 search: false,          							// 是否显示搜索框功能
// //                showSearch: $.common.visible(options.showSearch),   // 是否显示检索信息
//                 showSearch: false,   								// 是否显示检索信息
//                 showRefresh: false, // 是否显示刷新按钮
//                 showColumns: false, // 是否显示隐藏某列下拉框
//                 showToggle: false,   // 是否显示详细视图和列表视图的切换按钮
//                 showExport: false,   // 是否支持导出文件
//                 queryParams: function (params) {
//                     return {
//                         // 传递参数查询参数
//                         pageSize: params.limit,
//                         pageNum: params.offset / params.limit + 1,
//                         searchValue: params.search,
//                         orderByColumn: params.sort,
//                         isAsc: params.order,
//                         taskcode: $("#taskcode").val(),
//                         taskname:$('#taskname').val()
//                     };
//                 },                       // 传递参数（*）
//                 columns: [
//                     /*{
//                         checkbox: true
//                     },*/
//                     {
//                         field: 'id',
//                         title: 'id',
//                         align: 'center',
//                         visible: false
//                     },
//                     {
//                         field: '',
//                         title: '序号',
//                         formatter: function (value, row, index) {
//                             return index + 1;
//                         }
//                     },
//                     {
//                         field : 'tasktype',
//                         title : '任务类型',
//                         formatter: function (value, row, index) {
//                             return $.table.selectDictLabel(typeDatas, value);
//                         }
//                     },
//                     {
//                         field: 'taskcode',
//                         title: '任务号',
//                         align: 'center',
//                     },
//                     {
//                         field: 'taskname',
//                         title: '任务名称'
//                     },
//                     {
//                         field: 'productcode',
//                         title: '产品编码',
//                         align: 'center',
//                     },
//                     {
//                         field: 'sern',
//                         title: '产品条码',
//                         align: 'center',
//                     },
//                     {
//                         field: 'traycode',
//                         title: '托盘号',
//                         align: 'center',
//                     },
//                     {
//                         field: 'deviceno',
//                         title: 'RGV小车号',
//                         align: 'center',
//                     },
//                     {
//                         field: 'storehousecode',
//                         title: '库位编码',
//                         align: 'center',
//                     },
//                     {
//                         field: 'taskstate',
//                         title: '任务状态',
//                         align: 'center',
//                         formatter: function (value, row, index) {
//                             return $.table.selectDictLabel(statusDatas, value);
//                         }
//                     },
//                     {
//                         field : 'modifydate',
//                         align: 'center',
//                         title : '修改时间'
//                     }
//                 ],
// //                responseHandler: $.table.responseHandler            // 回调函数
//             });
        });

        function searchTable() {
            // $.table.search();
            $('#bootstrap-table2').bootstrapTable('refresh');
            // $('#bootstrap-table3').bootstrapTable('refresh');
        }

        function resetTable() {
            $.form.reset();
            $('#bootstrap-table2').bootstrapTable('refresh');
            // $('#bootstrap-table3').bootstrapTable('refresh');
        }

        function keydown() {
            if (event.keyCode == 13) {
                event.returnValue = false;
                event.cancel = true;
                searchTable();
            }
        }
    </script>
</body>
</html>