<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增托盘')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-Tray-add">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>仓库名称：</label>
            <div class="col-sm-8">
                <select name="whcode" id="whcode" class="form-control m-b" th:with="whList=${whList}"
                        onchange="selectStorehouseCode()">
                    <option th:each="ware:${whList}" th:value="${ware.whcode}" th:text="${ware.whname}"></option>
                </select>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label"><span style="color: red; ">*</span>库区名称：</label>-->
            <!--<div class="col-sm-8">-->
                <!--<select name="regioncode" id="regioncode" class="form-control m-b" onchange="selectStorehouseCode()">-->
                    <!--<option value="">请选择</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>库位名称：</label>
            <div class="col-sm-8">
                <select name="storeid" id="storeid" class="form-control m-b">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <!--<div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>托盘编码：</label>
            <div class="col-sm-8">
                <input name="traycode" class="form-control" type="text">
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">规格：</label>
            <div class="col-sm-8">
                <input name="traysize" class="form-control" type="text">
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label"><span style="color: red; ">*</span>RFID编码：</label>-->
            <!--<div class="col-sm-8">-->
                <!--<input name="rfidcode" class="form-control" type="text">-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input name="memo" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>状态：</label>
            <div class="col-sm-8">
                <div class="radio-box" th:each="dict:${@dict.getType('base_normal_status')}">
                    <input type="radio" th:id="${dict.dictCode}" name="isenable" th:value="${dict.dictValue}"
                           th:checked="${dict.default}">
                    <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script type="text/javascript">
    var prefix = ctx + "base/tray"
    $("#form-Tray-add").validate({
        focusCleanup: true,
        rules: {
            whcode: {
                required: true,
            },
            traycode: {
                required: true,
            },
            storeid: {
                required: true,
            },
            isenable: {
                required: true,
            }
        }
    });

    //动态为库区赋值
//    function selectRegionCode() {
//        $("#regioncode").empty();
//        var optionstring = "";
//        $.ajax({
//            url: "/base/storehouse/getRegionByWhcode",
//            type: "post",
//            data: {whcode: $("#whcode").find("option:selected").val()},
//            success: function (result) {
//                for (var i = 0; i < result.length; i++) {
//                    optionstring += "<option value=\"" + result[i].regioncode + "\" >" + result[i].regionname + "</option>";
//                };
//                $("#regioncode").html("<option value=''>请选择</option> " + optionstring);
//            }
//        });
//    }

    //动态为库位赋值
//    function selectStorehouseCode() {
//        $("#storeid").empty();
//        var optionstring = "";
//        $.ajax({
//            url: "/base/storehouse/selectStorehouseCode",
//            type: "post",
//            data: {regioncode: $("#regioncode").find("option:selected").val()},
//            success: function (result) {
//                for (var i = 0; i < result.length; i++) {
//                    optionstring += "<option value=\"" + result[i].id + "\" >" + result[i].storehousename + "</option>";
//                };
//                $("#storeid").html("<option value=''>请选择</option> " + optionstring);
//            }
//        });
//    }

     function selectStorehouseCode() {
         $("#storeid").empty();
         var optionstring = "";
         $.ajax({
             url: prefix + "/getStorehouseByWhcode",
             type: "post",
             data: {whcode: $("#whcode").find("option:selected").val()},
             success: function (result) {
                 for (var i = 0;i < result.length;i ++){
                     optionstring += "<option value=\"" + result[i].id + "\" >" + result[i].storehousename + "</option>";
                 };
                 $("#storeid").html("<option value=''>请选择</option> "+optionstring);
             }
         });
     }

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-Tray-add').serialize());
        }
    }
</script>
</body>
</html>