<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改托盘')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-Tray-edit" th:object="${tray}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>仓库名称：</label>
                <div class="col-sm-8">
                    <select id="whcode" class="form-control m-b" name="whcode" th:field="*{whcode}" onchange="selectStorehouseCode()">
                        <option value="">请选择</option>
                        <option th:each="ware:${whList}" th:value="${ware.whcode}" th:text="${ware.whname}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>库位名称：</label>
                <div class="col-sm-8">
                    <select id="storeid" class="form-control m-b" name="storeid" th:field="*{storeid}">
                        <option value="">请选择</option>
                        <option th:each="storehouse:${shList}" th:value="${storehouse.id}" th:text="${storehouse.storehousename}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>托盘编码：</label>
                <div class="col-sm-8">
                    <input name="traycode" th:field="*{traycode}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">规格：</label>
                <div class="col-sm-8">
                    <input name="traysize" th:field="*{traysize}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="memo" th:field="*{memo}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict:${@dict.getType('base_normal_status')}">
                        <input type="radio" th:id="${dict.dictCode}" name="isenable" th:value="${dict.dictValue}" th:field="*{isenable}">
                        <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "base/tray";
        $("#form-Tray-edit").validate({
            focusCleanup: true,
            rules:{
                whcode:{
                    required:true,
                },
                traycode:{
                    required:true,
                },
                storeid:{
                    required:true,
                },
                isenable:{
                    required:true,
                }
            }
        });

        function selectStorehouseCode() {
            $("#storeid").empty();
            var optionstring = "";
            $.ajax({
                url: prefix + "/getStorehouseByWhcode",
                type: "post",
                data: {whcode: $("#whcode").find("option:selected").val()},
                success: function (result) {
                    for (var i = 0;i < result.length;i ++){
                        optionstring += "<option value=\"" + result[i].id + "\" >" + result[i].storehousename + "</option>";
                    };
                    $("#storeid").html("<option value=''>请选择</option> "+optionstring);
                }
            });
        }

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-Tray-edit').serialize());
            }
        }
    </script>
</body>
</html>