<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.base.warehouse.mapper.WarehouseMapper">

    <resultMap type="Warehouse" id="WarehouseResult">
        <result property="id"    column="Id"    />
        <result property="whcode"    column="WhCode"    />
        <result property="whname"    column="WhName"    />
        <result property="whaddress"    column="WhAddress"    />
        <result property="whphone"    column="WhPhone"    />
        <result property="whperson"    column="WhPerson"    />
        <result property="cbarcode"    column="cBarCode"    />
        <result property="inventorycycle"    column="InventoryCycle"    />
        <result property="inventorycycleunit"    column="InventoryCycleUnit"    />
        <result property="memo"    column="Memo"    />
        <result property="lastcheckdate"    column="LastCheckDate"    />
        <result property="createuser"    column="CreateUser"    />
        <result property="createdate"    column="CreateDate"    />
        <result property="modifyuser"    column="ModifyUser"    />
        <result property="modifydate"    column="ModifyDate"    />
        <result property="isenable"    column="IsEnable"    />
        <result property="isdelete"    column="IsDelete"    />
        <result property="f1"    column="F1"    />
        <result property="f2"    column="F2"    />
        <result property="f3"    column="F3"    />
        <result property="f4"    column="F4"    />
    </resultMap>

    <sql id="selectWarehouseVo">
        select Id, WhCode, WhName, WhAddress, WhPhone, WhPerson, cBarCode, InventoryCycle, InventoryCycleUnit, Memo, LastCheckDate, CreateUser, CreateDate, ModifyUser, ModifyDate, IsEnable, IsDelete, F1, F2, F3, F4 from T_Base_Warehouse
    </sql>

    <select id="selectWarehouseList" parameterType="Warehouse" resultMap="WarehouseResult">
        <include refid="selectWarehouseVo"/>
        <where>
            and  IsDelete=0
            <if test="id != null "> and Id = #{id}</if>
            <if test="whcode != null  and whcode != ''"> and WhCode like concat('%', #{whcode}, '%')</if>
            <if test="whname != null  and whname != ''"> and WhName like concat('%', #{whname}, '%')</if>
            <if test="whaddress != null  and whaddress != ''"> and WhAddress = #{whaddress}</if>
            <if test="whphone != null  and whphone != ''"> and WhPhone like concat('%', #{whphone}, '%')</if>
            <if test="whperson != null  and whperson != ''"> and WhPerson like concat('%', #{whperson}, '%')</if>
            <if test="cbarcode != null  and cbarcode != ''"> and cBarCode = #{cbarcode}</if>
            <if test="inventorycycle != null "> and InventoryCycle = #{inventorycycle}</if>
            <if test="inventorycycleunit != null  and inventorycycleunit != ''"> and InventoryCycleUnit = #{inventorycycleunit}</if>
            <if test="memo != null  and memo != ''"> and Memo = #{memo}</if>
            <if test="lastcheckdate != null "> and LastCheckDate = #{lastcheckdate}</if>
            <if test="createuser != null  and createuser != ''"> and CreateUser = #{createuser}</if>
            <if test="createdate != null "> and CreateDate = #{createdate}</if>
            <if test="modifyuser != null  and modifyuser != ''"> and ModifyUser = #{modifyuser}</if>
            <if test="modifydate != null "> and ModifyDate = #{modifydate}</if>
            <if test="isenable != null "> and IsEnable = #{isenable}</if>
            <if test="isdelete != null "> and IsDelete = #{isdelete}</if>
            <if test="f1 != null  and f1 != ''"> and F1 = #{f1}</if>
            <if test="f2 != null  and f2 != ''"> and F2 = #{f2}</if>
            <if test="f3 != null  and f3 != ''"> and F3 = #{f3}</if>
            <if test="f4 != null "> and F4 = #{f4}</if>
        </where>
    </select>

    <select id="selectWarehouseById" parameterType="String" resultMap="WarehouseResult">
        <include refid="selectWarehouseVo"/>
        where WhCode = #{whcode} and  IsDelete=0
    </select>
    <!--where WhCode = #{whcode} and  IsDelete=0-->

    <insert id="insertWarehouse" parameterType="Warehouse">
        insert into T_Base_Warehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">Id,</if>
            <if test="whcode != null  and whcode != ''">WhCode,</if>
            <if test="whname != null  and whname != ''">WhName,</if>
            <if test="whaddress != null  and whaddress != ''">WhAddress,</if>
            <if test="whphone != null  and whphone != ''">WhPhone,</if>
            <if test="whperson != null  and whperson != ''">WhPerson,</if>
            <if test="cbarcode != null  and cbarcode != ''">cBarCode,</if>
            <if test="inventorycycle != null ">InventoryCycle,</if>
            <if test="inventorycycleunit != null  and inventorycycleunit != ''">InventoryCycleUnit,</if>
            <if test="memo != null  and memo != ''">Memo,</if>
            <if test="lastcheckdate != null ">LastCheckDate,</if>
            <if test="createuser != null  and createuser != ''">CreateUser,</if>
            <if test="createdate != null ">CreateDate,</if>
            <if test="modifyuser != null  and modifyuser != ''">ModifyUser,</if>
            <if test="modifydate != null ">ModifyDate,</if>
            <if test="isenable != null ">IsEnable,</if>
            <if test="isdelete != null ">IsDelete,</if>
            <if test="f1 != null  and f1 != ''">F1,</if>
            <if test="f2 != null  and f2 != ''">F2,</if>
            <if test="f3 != null  and f3 != ''">F3,</if>
            <if test="f4 != null ">F4,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="whcode != null  and whcode != ''">#{whcode},</if>
            <if test="whname != null  and whname != ''">#{whname},</if>
            <if test="whaddress != null  and whaddress != ''">#{whaddress},</if>
            <if test="whphone != null  and whphone != ''">#{whphone},</if>
            <if test="whperson != null  and whperson != ''">#{whperson},</if>
            <if test="cbarcode != null  and cbarcode != ''">#{cbarcode},</if>
            <if test="inventorycycle != null ">#{inventorycycle},</if>
            <if test="inventorycycleunit != null  and inventorycycleunit != ''">#{inventorycycleunit},</if>
            <if test="memo != null  and memo != ''">#{memo},</if>
            <if test="lastcheckdate != null ">#{lastcheckdate},</if>
            <if test="createuser != null  and createuser != ''">#{createuser},</if>
            <if test="createdate != null ">#{createdate},</if>
            <if test="modifyuser != null  and modifyuser != ''">#{modifyuser},</if>
            <if test="modifydate != null ">#{modifydate},</if>
            <if test="isenable != null ">#{isenable},</if>
            <if test="isdelete != null ">#{isdelete},</if>
            <if test="f1 != null  and f1 != ''">#{f1},</if>
            <if test="f2 != null  and f2 != ''">#{f2},</if>
            <if test="f3 != null  and f3 != ''">#{f3},</if>
            <if test="f4 != null ">#{f4},</if>
         </trim>
    </insert>

    <update id="updateWarehouse" parameterType="Warehouse">
        update T_Base_Warehouse
        <trim prefix="SET" suffixOverrides=",">
            <if test="whname != null  and whname != ''">WhName = #{whname},</if>
            <if test="whaddress != null  and whaddress != ''">WhAddress = #{whaddress},</if>
            <if test="whphone != null  and whphone != ''">WhPhone = #{whphone},</if>
            <if test="whperson != null  and whperson != ''">WhPerson = #{whperson},</if>
            <if test="cbarcode != null  and cbarcode != ''">cBarCode = #{cbarcode},</if>
            <if test="inventorycycle != null ">InventoryCycle = #{inventorycycle},</if>
            <if test="inventorycycleunit != null  and inventorycycleunit != ''">InventoryCycleUnit = #{inventorycycleunit},</if>
            <if test="memo != null">Memo = #{memo},</if>
            <if test="lastcheckdate != null ">LastCheckDate = #{lastcheckdate},</if>
            <if test="createuser != null  and createuser != ''">CreateUser = #{createuser},</if>
            <if test="createdate != null ">CreateDate = #{createdate},</if>
            <if test="modifyuser != null  and modifyuser != ''">ModifyUser = #{modifyuser},</if>
            <if test="modifydate != null ">ModifyDate = #{modifydate},</if>
            <if test="isenable != null ">IsEnable = #{isenable},</if>
            <if test="isdelete != null ">IsDelete = #{isdelete},</if>
            <if test="f1 != null  and f1 != ''">F1 = #{f1},</if>
            <if test="f2 != null  and f2 != ''">F2 = #{f2},</if>
            <if test="f3 != null  and f3 != ''">F3 = #{f3},</if>
            <if test="f4 != null ">F4 = #{f4},</if>
        </trim>
        where WhCode = #{whcode}
    </update>

    <update id="deleteWarehouseById" parameterType="String">
        update T_Base_Warehouse set IsDelete=1 where WhCode = #{whcode}
    </update>

    <update id="deleteWarehouseByIds" parameterType="String">
        update T_Base_Warehouse set IsDelete=1 where WhCode in
        <foreach item="whcode" collection="array" open="(" separator="," close=")">
            #{whcode}
        </foreach>
    </update>


    <select id="selectLastWhCode" resultType="String">
        select TOP 1 WhCode from T_Base_Warehouse order by Id desc
    </select>

    <select id="checkCbarCode" parameterType="String" resultMap="WarehouseResult">
        <include refid="selectWarehouseVo"/>
        where cBarCode = #{cbarcode}
        and IsDelete=0
    </select>

    <select id="selectWarehouseDict" resultMap="WarehouseResult">
        <include refid="selectWarehouseVo"/>
        where IsDelete=0
        and IsEnable=1
    </select>

    <select id="getCodeAndName" resultType="String">
        select CONCAT(WhCode,'+',WhName)  from T_Base_Warehouse where IsDelete=0 and IsEnable=1
    </select>


    <resultMap type="com.wms.warehouse.storemove.domain.StoreMove" id="WarehouseAndStockResult">
        <result property="id"    column="Id"    />
        <result property="whcode"    column="WhCode"    />
        <result property="whname"    column="WhName"    />
        <collection property="stockList" ofType="com.wms.infoquery.querystockstatus.domain.Stock" column="whcode" javaType="java.util.List">
            <result property="id"    column="Id"    />
            <result property="producttype"    column="ProductType"    />
            <result property="productcode"    column="ProductCode"    />
            <result property="productname"    column="ProductName"    />
            <result property="productbatch"    column="ProductBatch"    />
            <result property="productmodel"    column="ProductModel"    />
            <result property="specification"    column="Specification"    />
            <result property="quantity"    column="Quantity"    />
            <result property="memo"    column="Memo"    />
            <result property="createuser"    column="CreateUser"    />
            <result property="createdate"    column="CreateDate"    />
            <result property="whcode"    column="WhCode"    />
            <result property="storehousecode"    column="StorehouseCode"    />
        </collection>
    </resultMap>

    <!-- 不区分库位查询-->
    <select id="selectWarehouseAndStock" resultMap="WarehouseAndStockResult">
        select CONCAT(w.whcode,'_',w.whname) as WhName,CONCAT(s.ProductCode,'+',s.ProductName,'+',d.dict_label,'+',s.ProductBatch) as productName from T_Base_Warehouse w
        left join T_Base_Stock s on w.WhCode=s.WhCode
        left join sys_dict_data d on d.dict_value=s.ProductModel and d.dict_type='base_product_model'
        where s.ProductCode is not null
        and s.IsDelete=0
        and s.IsEnable=1
        group by CONCAT(w.whcode,'_',w.whname) ,CONCAT(s.ProductCode,'+',s.ProductName,'+',d.dict_label,'+',s.ProductBatch)
    </select>

    <!-- 区分库位查询-->
    <select id="selectWarehouseAndStoreStock" resultMap="WarehouseAndStockResult">
        select CONCAT(w.whcode,'_',w.whname) as WhName,CONCAT(s.StorehouseCode,'+',s.ProductCode,'+',s.ProductName,'+',d.dict_label,'+',s.ProductBatch) as productName from T_Base_Warehouse w
        left join T_Base_Stock s on w.WhCode=s.WhCode
        left join sys_dict_data d on d.dict_value=s.ProductModel and d.dict_type='base_product_model'
        where s.ProductCode is not null
        and s.IsDelete=0
        and s.IsEnable=1
        group by CONCAT(w.whcode,'_',w.whname) ,CONCAT(s.StorehouseCode,'+',s.ProductCode,'+',s.ProductName,'+',d.dict_label,'+',s.ProductBatch)
    </select>

</mapper>