<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('产品档案列表')" />
    <th:block th:include="include::select2-css"></th:block>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <input name="whcode" id="whcode" th:value="${whcode}" type="hidden"/>
                        <ul>
                            <!--<li>-->
                                <!--<p>产品类型：</p>-->
                                <!--<select name="ProductType" th:with="type=${@dict.getType('')}">-->
                                    <!--<option value="">所有</option>-->
                                    <!--<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
                                <!--</select>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<p>产品名称：</p>-->
                                <!--<input type="text" name="productname" id="productname"/>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<p>产品型号：</p>-->
                                <!--<select name="productmodel" id="productmodel" class="form-control m-b  select2-container" th:with="type=${@dict.getType('base_product_model')}">-->
                                    <!--<option value=""></option>-->
                                    <!--<option th:each="dict:${type}" th:value="${dict.dictValue}" th:text="${dict.dictLabel}"></option>-->
                                <!--</select>-->
                            <!--</li>-->
                            <li>
                                <p>产品条码：</p>
                                <input type="text" name="otherProductCode"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <script th:inline="javascript">
        var prefix = ctx + "infoquery/stock";
        var modelDatas=[[${@dict.getType('base_product_model')}]];
        var unitDatas=[[${@dict.getType('base_product_unit')}]];

        $(function() {
            var options = {
                url: prefix + "/selectProductList",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "产品档案",
                pagination: false,
                // queryParams: function(params) {
                //     return{
                //         // 传递参数查询参数
                //         pageSize:       params.limit,
                //         pageNum:        params.offset / params.limit + 1,
                //         searchValue:    params.search,
                //         orderByColumn:  params.sort,
                //         isAsc:          params.order,
                //         whcode:$('#whcode').val(),
                //         productname:$('#productname').val(),
                //         productmodel:$('#productmodel').find("option:selected").val()==" "?"":$('#productmodel').find("option:selected").val()
                //     };
                // },
                clickToSelect:true,
                columns: [{
                    checkbox: true
                },
                {
                    field : 'num',
                    title : '序号',
                    formatter:function (value,row,index) {
                        return index+1;
                    }
                },
                {
                    field : 'id',
                    title : '自增列',
                    visible:false
                },
                {
                    field : 'whname',
                    title : '仓库',
                    // visible:false
                },
                // {
                //     field : 'regioncode',
                //     title : '区域编码',
                //     // visible:false
                // },
                {
                    field : 'storehousecode',
                    title : '库位编码',
                    visible:false
                },
                {
                    field : 'storehousename',
                    title : '库位名称',
                    // visible:false
                },
                {
                    field : 'productcode',
                    title : '产品编码'
                },
                {
                    field : 'productname',
                    title : '产品名称'
                },
                {
                    field : 'traycode',
                    title : '托盘号'
                },
                {
                    field : 'quantity',
                    title : '数量',
                    // visible:false
                },
                {
                    field : 'memo',
                    title : '备注'
                }
                ]
            };
            $.table.init(options);
        });

        function submitHandler() {
            var data=$('#bootstrap-table').bootstrapTable("getSelections");
            if (data.length==0){
                $.modal.msgError("请至少选择一项产品");
                return ;
            }
            return data;
        }


    </script>
</body>
</html>